<h1>New entry</h1>

<%= form_with :model => @entry do |form| %>
  <p>
    <%= form.label "title" %>
    <%= form.text_field "title" %>
  </p>
  <p>
    <%= form.label "description" %>
    <%= form.text_field "description" %>
  </p>
  <p>
    <%= form.label "posted_on" %>
    <%= form.date_field "posted_on" %>
  </p>
  <%= form.hidden_field "place_id", value: params["place_id"] %>
  <%= form.submit %>
<% end %>
<br>
<a href=<%= "/places/" + params["place_id"] %>>Go Back</a>